XMLSchemas/DateDuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DateDuration"
	targetNamespace="http://tempuri.org/PlannerProgramSchema"
    xmlns="http://tempuri.org/PlannerProgramSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
    version="1.0"
>
	<xs:complexType name="DateDuration" mixed="true">
		<xs:all>
			<xs:element name="StartDate">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<!--In future, would like to limit this to within some range of dates I've not figured out yet-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EndDate">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<!--In future, would like to limit this to within some range of dates I've not figured out yet-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParentTaskGUID">
				<xs:simpleType>
					<!--IDREF will be the base type-->
					<xs:restriction base="xs:IDREF">
						<xs:length value="36"/>
						<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
