XMLSchemas/Plan.xsd

<?xml version="1.0" encoding="utf-8"?>


<!--Very useful info on serialization: https://stackoverflow.com/questions/3038637/how-to-serialize-a-list-with-multiple-data-types-in-c-sharp-from-xml-->
<!--This xml schema will contain the data tied to the Plan files, and their items-->
<!--Meaning they will include definitions for data types-->
<xs:schema id="Plan"
	targetNamespace="http://tempuri.org/Plan.xsd"
	xmlns="http://tempuri.org/Plan.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ps="http://tempuri.org/PlannerProgramSchema"
    elementFormDefault="qualified"
	version="1.0"
>
	<!--Data type info/graph https://www.w3.org/TR/xmlschema11-2/#built-in-datatypes-->
	<!--This resource seems extremely helpful for going back through things too: https://xfront.com/Dealing-With-Multiple-XML-Schema-Files.pdf-->
	<!--Helpful for including types: https://www.herongyang.com/XSD/Multiple-XSD-Schema-Document.html-->
	
	<!--Type Definitions-->
	<xs:import namespace="http://tempuri.org/PlannerProgramSchema"/>
	<xs:complexType name="SoftwareVersions" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Still really not sure what exactly the version info holds.
				I saw it in use in Baldur's Gate 3 files, and the names of each part are self explanatory to me, but still I wish I understood why.
				I might change them to attributes rather than elements like they are now.

				Using unsigned byte for this information because I shouldn't need to use them too often, so 0-255 should be fine, and I don't need negative numbers
				Storing version info so that I can handle version related exceptions and cases where version features conflict and stuff
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Major" type="xs:unsignedByte" default="0"/>
			<xs:element name="Minor" type="xs:unsignedByte" default="0"/>
			<xs:element name="Revision" type="xs:unsignedByte" default="0"/>
			<xs:element name="Build" type="xs:unsignedByte" default="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlanTaskList">
			<xs:annotation>
				<xs:documentation>
					This will contain the list of tasks in each plan
				</xs:documentation>
			</xs:annotation>
			<xs:choice>
				<xs:element name="Task" type="ps:Task" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			</xs:choice>
	</xs:complexType>
	
	
	
	
	
	<!--=============================================Element Declarations For a Plan======================================================-->
	<!--Storing the version of the software in which the plan was made-->


	<xs:element name="SoftwareVersion" type="SoftwareVersions"/>
	<xs:element name="PlanTasks" type="PlanTaskList"/>
	<xs:element name="PlanName" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				This will just contain the name of the plan, in case it's necessary to be saved which I'm not sure if it is
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
