XMLSchemas/ProgramConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--This schema will store information like the currently installed version of the app's version info,
        and also the filepath where files should be saved/opened. At least for right now.-->

<xs:schema id="ProgramConfig"
	targetNamespace="http://tempuri.org/ProgramConfig.xsd"
	xmlns="http://tempuri.org/ProgramConfig.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	version="1.0"
>

	
	
	<!--Data type info/graph https://www.w3.org/TR/xmlschema11-2/#built-in-datatypes -->


	<!--Complex Types-->


	<!--Storing the version of the software in which something was made/is-->
	<xs:complexType name="SoftwareVersion">
		<xs:sequence>
			<!--Using unsigned byte for this information because I shouldn't need to use them too often, so 0-255 should be fine, and I don't need negative numbers-->
			<!--Storing version info so that can handle version related exceptions and cases where version features conflict and stuff-->
			<!--Ideally - this is another thing I took from making mods for Baldur's Gate 3-->
			<xs:element name="Major" type="xs:unsignedByte" default="0"/>
			<xs:element name="Minor" type="xs:unsignedByte" default="0"/>
			<xs:element name="Revision" type="xs:unsignedByte" default="0"/>
			<xs:element name="Build" type="xs:unsignedByte" default="0"/>
		</xs:sequence>
	</xs:complexType>


	<!--Storing URI (admittedly still unsure how different from filepath) to where plans are to be stored (like in say... documents...)-->
	<!--Unsure if needs to be a relative path, or can be absolute-->
	<xs:element name="FileStoragePath" type="xs:anyURI"/>
	<!--Storing the version of the software in which the plan was made-->

	<xs:element name="SoftwareVersion" type="SoftwareVersion"/>
	
	<!--Bool to store if this is the first time users have opened program, so it can display a "how to use"-->
	<xs:element name="FirstOpen" type="xs:boolean" default="false"/>
	

	


</xs:schema>
