XMLSchemas/Task.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Task"
	targetNamespace="http://tempuri.org/PlannerProgramSchema"
    xmlns="http://tempuri.org/PlannerProgramSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
    version="1.0"
>
	<xs:include schemaLocation="DateDuration.xsd"/>
	<xs:include schemaLocation="Text.xsd"/>

	<xs:complexType name="Task" mixed="true">
		<xs:all>
			<xs:element name="Coordinates">
				<xs:complexType mixed="false">
					<xs:sequence>
						<xs:element name="x" type="xs:float"/>
						<xs:element name="y" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GUID">
				<xs:simpleType>
					<!--String will be the base type-->
					<xs:restriction base="xs:ID">
						<xs:length value="36"/>
						<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Completion">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaskName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<!--Should probably put some restrictions on length and what characters can be used-->
						<!--For right now, no restrictions on what characters can be added till I know that stuff like tabs, and enters and spaces and stuff will be accepted/how to not limit them-->
						<!--<xs:pattern value="([a-zA-Z0-9.,])*"/>-->
						<xs:whiteSpace value="preserve"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ListItems">
				<xs:complexType mixed="true">
					<xs:choice>
						<xs:element name="TaskItem" type="Task" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
						<xs:element name="TextItem" type="Text" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
						<xs:element name="DateDurationItem" type="DateDuration" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>

