Models/PlannerModelData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tempuri.org/PlannerModelData.xsd">
	<!--targetNamespace="http://www.tempuri.org/PlannerModelData.xsd"-->
	<xs:element name="Plan" nillable="true" type="PlannerModelData"/>
  <xs:complexType name="PlannerModelData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PlanName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PlanTasks" nillable="true" type="ListOfTasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfTasks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="TaskModelData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaskModelData">
    <xs:complexContent mixed="true">
      <xs:extension base="BaseItemModelData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Completion" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaskName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ListItems" type="TaskItems" />
          <xs:element minOccurs="1" maxOccurs="1" name="Coords" type="Point" />
          <xs:element minOccurs="1" maxOccurs="1" name="GUID" type="GUID" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--<xs:complexType name="BaseItemModelData" abstract="true" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="dataType" nillable="true" type="PlannerItemType" />
      <xs:element minOccurs="0" maxOccurs="1" name="parent" type="TaskModelData" />
    </xs:sequence>
  </xs:complexType>-->
  <xs:simpleType name="PlannerItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Generic" />
      <xs:enumeration value="Task" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Linker" />
      <xs:enumeration value="Date" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateDurationModelData">
    <xs:complexContent mixed="true">
      <xs:extension base="BaseItemModelData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ParentTaskGUID" type="GUID" />
          <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextModelData">
    <xs:complexContent mixed="true">
      <xs:extension base="BaseItemModelData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TextItem" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TaskItems">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextItem" type="TextModelData" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskItem" type="TaskModelData" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DateDurationItem" type="DateDurationModelData" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The representation of a GUID, generally the id of an element.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>